.title {
    color:green;
    font-size: 50px;
}
.facts {

}
.conclusion {

}
.minority{
color: grey;
}
.majority {
    color: black;

}
.dissenting {

}
.year{

}
.question {

}
.new_case{

}
.no-vote{

}